/* line 3, ../sass/style.scss */
.shadow {
  -moz-box-shadow: #000 5px 5px 5px;
  -webkit-box-shadow: #000 5px 5px 5px;
  box-shadow: #000 5px 5px 5px;
}

/* line 7, ../sass/style.scss */
.box {
  color: 123;
}
