body {
  padding-top: 5rem;
}

.text-box--centered {
  padding: 3rem 1.5rem;
  text-align: center;
}

.heading--centered {

}

.skill-item--font {
  font-size: 1.25em;
}

.skill-main--spacing {
  margin-top: 20px;
}

.footer {
  font-size: .5em;
}

.bg-custom {
  color: red;
  background: linear-gradient(4deg, #00FFFF 15%,#0080ff 16%);
}
