@import "font-awesome-compass";
@import "compass/css3";
@import "font-awesome";

.shadow {
  @include box-shadow(#000 5px 5px 5px);
}

.box {
  color: blue;
  background-color: green;
}

:fullscreen a {
    display: flex
}

//Put at bottom to have other values override this
@import "bootstrap";
